<div class="max-w-6xl mx-auto text-center">
    <h1 class="text-3xl font-bold text-purple-700 mb-8">{{name}}</h1>
<!--  <h1 class="text-3xl font-bold text-purple-700 mb-2">{{name}}</h1>-->
  {{#if description}}
    <p class="text-lg text-gray-700">{{description}}</p>
  {{else}}
    <p class="text-gray-400 italic">Aucune description disponible.</p>
  {{/if}}
</div>
