<header class="bg-indigo-600 text-white shadow-md">
    <div class="container mx-auto py-4 px-6">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold">Chaudière Web</h1>
            <nav>
                <ul class="flex space-x-6">
                    <li><a href="/" class="hover:underline" data-link>Accueil</a></li>
                    <li><a href="/favoris" class="hover:underline" data-link>Favoris</a></li>
                    <li><a href="/categories" class="hover:underline" data-link>Catégories</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>